torch~=2.8.0
sentence-transformers~=5.1.0
transformers~=4.55.4
joblib~=1.5.1
configparser~=7.2.0
scikit-learn~=1.7.1
matplotlib~=3.10.5
networkx~=3.5
numpy~=2.3.2
plotly~=6.3.0
seaborn~=0.13.2
Faker~=37.6.0
torchviz~=0.0.3
tqdm~=4.67.1